     
   <div class="w-100 h-100 overlay"></div>
 
    <div class="d-none flex-row align-items-center p-2 m-0 " id="msgnavbar">
        <div class="d-block d-sm-none" style="margin-right: 2%;
        margin-left: 1%;">
            <i class="fas fa-arrow-left p-2  text-white" style="font-size: 1.5rem; cursor: pointer;" (click)="showChatList()"></i>
        </div>
        <a  style="margin-right: 10px;"><img src="https://via.placeholder.com/400x400" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;" id="pic"></a>
        <div class="d-flex flex-column">
            <div class="text-white font-weight-bold" id="name"></div>
            <div class="text-white small" id="details"></div>
        </div>
        <div class="d-flex flex-row align-items-center ml-auto">
            <a ><i class="fas fa-search mx-3 text-white d-sm-none"></i></a>
            <a ><i class="fas fa-paperclip mx-3 text-white d-sm-none "></i></a>
            <a ><i class="fas fa-ellipsis-v mr-2 mx-sm-3 text-white"></i></a>
        </div>
    </div>

    <div class="d-flex flex-column" id="messages"></div>

    <div class="d-none justify-self-end align-items-center flex-row" id="input-area">
        <a ><i class="far fa-smile text-muted px-3" style="font-size:1.5rem;"></i></a>
        <input type="text" name="message" id="input" placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm">
        <i class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;" (click)="sendMessage()"></i>
    </div>